<!DOCTYPE html>
<html>
<head>
    <title>Currency Converter</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

{{{body}}}



<hr>
<a href="about">About this site</a>

</body>
</html>