<!DOCTYPE html>
<html>
<head>
    <title>Currency Converter</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>

{{{body}}}


<img src="https://cdn.pixabay.com/photo/2013/03/13/13/59/money-93206_1280.jpg" height="200" width="200">

<hr>
<a href="about">About this site</a>

</body>
</html>